<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
  <Properties>
    <!-- 根目录 -->
    <Property name="baseDir">E:\hadoopSpace\tkmach\log</Property>
    <!-- 保存最近N天 ,单位：d m y,注意：设置的天数比实际保存的天数多一天，例如设置7d，则实际保存的天数为8d. -->
    <Property name="saveDays">1d</Property>
    <!-- 每一类文件最大压缩个数 -->
    <Property name="fileCountPerCategory">50</Property>
    <!-- 每一类文件大小 单位：KB MB GB ,例如：50 MB -->
    <Property name="fileSizePerCategory">100 MB</Property>
    <!-- 日志开头输出内容格式 -->
    <Property name="globalPatternLayout">%d %p - %c - %m%n</Property>
    <!-- 全局日志级别 -->
    <Property name="loglevel">info</Property>
    <!-- 性能日志级别：如果要分析性能，必须设置级别：info -->
    <Property name="perf_loglevel">warn</Property>
  </Properties>
  <appenders>
    <!-- console -->
    <Console name="console" target="SYSTEM_OUT">
      <ThresholdFilter level="info" onMatch="ACCEPT"
        onMismatch="DENY" />
      <PatternLayout pattern="%d %p - %c - %m%n" />
    </Console>

    <!-- 全部日志 -->
    <RollingFile name="all_log" fileName="${baseDir}/all.log"
      filePattern="${baseDir}/$${date:yyyy}/all-%d{yyyy-MM-dd}-%i.log.gz">
      <ThresholdFilter level="${loglevel}" onMatch="ACCEPT"
        onMismatch="DENY" />
      <PatternLayout pattern="${globalPatternLayout}" />
      <Policies>
        <TimeBasedTriggeringPolicy modulate="true"
          interval="1" />
        <SizeBasedTriggeringPolicy
          size="${fileSizePerCategory}" />
      </Policies>
      <DefaultRolloverStrategy
        max="${fileCountPerCategory}">
        <!--<Delete basePath="${baseDir}" maxDepth="2">-->
          <!--<IfFileName glob="*/all-*.log.gz">-->
            <!--<IfLastModified age="${saveDays}">-->
              <!--<IfAny>-->
                <!--<IfAccumulatedFileSize-->
                  <!--exceeds="${fileSizePerCategory}" />-->
                <!--<IfAccumulatedFileCount exceeds="2" />-->
              <!--</IfAny>-->
            <!--</IfLastModified>-->
          <!--</IfFileName>-->
        <!--</Delete>-->
      </DefaultRolloverStrategy>
    </RollingFile>
  </appenders>

  <loggers>

    <!--<AsyncLogger name="com.rootnet" level="${loglevel}"-->
      <!--includeLocation="false" additivity="false">-->
      <!--<AppenderRef ref="console" />-->
      <!--<AppenderRef ref="all_log" />-->
    <!--</AsyncLogger>-->


    <AsyncRoot level="${loglevel}" includeLocation="false">
      <appender-ref ref="console" />
      <appender-ref ref="all_log" />
    </AsyncRoot>
  </loggers>

</configuration>